.coupon-content {
  // background-color: darken($success, 15%);
  background: linear-gradient(125deg, $success 0%, darken($success, 10%) 50%, darken($success, 10%) 100%);
  border: 0.7rem solid darken($warning, 10%);
  box-shadow: 0.3125rem 0.3125rem $gray-400;
}

.coupon-code {
  position: relative;
  cursor: pointer;
  user-select: none;
}

.icon-copy {
  position: absolute;
  top: 0;
  right: -1.7rem;
  font-size: 1.2rem;
}

.icon-enter-active,
.icon-leave-active {
  transition: all .3s ease;
}

.icon-enter,
.icon-leave-to {
  transform: translateX(100%);
  opacity: 0;
}
