.coupon-content {
  background-color: darken($success, 20%);
  border: .7rem solid darken($warning, 14%);
  box-shadow: 0.3125rem 0.3125rem 0.3125rem 0.0625rem $gray-500;
}

.coupon-code {
  position: relative;
}

.icon-copy {
  position: absolute;
  top: 0;
  right: -1.7rem;
  font-size: 1.2rem;
  user-select: none;

  &.active {
    cursor: pointer;
    transition: all .3s ease;
    &:hover {
      color: $warning !important;
    }
  }
}
