.carousel-image {
  height: 35rem;
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
  @include media-breakpoint-down(sm) {
    height: 15rem;
  }

  &1 {
    @include image-path ("carousel_food.jpg");
  }
  &2 {
    @include image-path ("carousel_family.jpg");
  }
  &3 {
    @include image-path ("carousel_service.jpg");
  }
}

.carousel-content {
  min-width: 31.25rem;
  min-height: 18.75rem;
  background-color: transparent;
  display: flex !important;
  flex-direction: column;
  justify-content: center !important;
  align-items: center !important;

  @include media-breakpoint-down(sm) {
    min-width: 100%;
  }

  &.carousel-content-dark {
    color: $white;
    background-color: rgba($dark, .6);
  }

  &.carousel-content-light {
    color: $dark;
    background-color: rgba($white, .85);
  }

  .carousel-title {
    font-size: 3rem;
    letter-spacing: 0.3125rem;
    @include media-breakpoint-down(md) {
      font-size: 2rem;
    }
    @include media-breakpoint-down(sm) {
      font-size: 1.5rem;
    }
    &-text {
      font-size: 4.5rem;
      @include media-breakpoint-down(md) {
        font-size: 3.5rem;
      }
      @include media-breakpoint-down(sm) {
        font-size: 2.5rem;
      }
    }
  }
  .carousel-link {
    font-size: 2rem;
    position: relative;
    transition: all .3s ease;
    &:hover {
      padding-right: 5rem !important;
      padding-left: 5rem !important;
    }

    @include media-breakpoint-down(md) {
      font-size: 1.5rem;
    }
    @include media-breakpoint-down(sm) {
      font-size: 1rem;
    }
  }
}
