.card-image {
  width: 100%;
  height: 17.5rem;
  position: relative;
  @include media-breakpoint-down(md) {
    height: 12.5rem;
  }
  &::after, &::before {
    content: '';
    position: absolute;
    top: 0rem;
    bottom: 0rem;
    right: 0rem;
    left: 0rem;
    transform: scale(0, 0);
    transition: all .3s ease;
    background-color: rgba($black, .45);
  }

  &-title {
    opacity: 0;
    visibility: hidden;
    transition: all .3s ease;
  }
}

.card {
  width: 100%;
  overflow: hidden;
  z-index: 3;
  &:hover {
    .card-btn {
      transform: translateY(0rem);
    }
    .card-title {
      font-weight: bold;
    }
    .card-image {
      &::after {
        content: '';
        transform: scale(1, 1);
      }
      &-title {
        opacity: 1;
        visibility: visible;
        z-index: 2;
      }
    }
  }
  &-title {
    color: $black;
    transition: all .3s ease;
  }
}
