// 載入 Noto Sans TC 字體
@import url("https://fonts.googleapis.com/css?family=Noto+Sans+TC&display=swap");

* {
  font-family: "Noto Sans TC", "Montserrat", sans-serif, "Microsoft JhengHei";
}

.btn.active.focus,
.btn.active:focus,
.btn.focus,
.btn.focus:active,
.btn:active:focus,
.btn:focus {
  outline: none;
  outline-offset: 0;
  box-shadow: none;
  border: none;
}

.fixed-margin-top {
  @include media-breakpoint-down(sm) {
    margin-top: 5.25rem;
  }
}

.disabled {
  pointer-events: none;
  opacity: 0.65;
  cursor: default;
}
