// mixin

// 圖片置中
@mixin bg-cover {
  background-size: cover;
  background-position: center center;
}

// 文字垂直
// 輸入 vertical-rl 或 vertical-lr 方向
@mixin text-vertical($direction) {
  writing-mode: $direction;
  -webkit-writing-mode: $direction;
}

// local mixin
// 圖片置中
.bg-cover {
  background-size: cover;
  background-position: center center;
}

// 圖片取代文字
.text-hide {
  text-indent: 101%;
  overflow: hidden;
  white-space: nowrap;
}

@mixin image-path($image-name) {
  background-image: url($assets+$image-name);
}

// 間距
.letter-space {
  letter-spacing: .1rem;
}

// 不斷行
.white-space-nowrap {
  white-space: nowrap;
}
