$bg-hover: darken($primary, 30%) !important;

.header {
  @include media-breakpoint-down(sm) {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 4;
  }
}

.header-logo {
  width: 9.375rem;
  height: 3.75rem;
  @include image-path("shop_logo.png");

  &-text {
    letter-spacing: 0.2rem;
  }
}

.input-search {
  max-width: 100%;
  height: 3rem;
}

.icon-btn {
  width: 3rem;
  height: 3rem;
  &.active {
    cursor: pointer;
    transition: all 0.3s ease;
    &:hover {
      background-color: $bg-hover;
    }
  }
}

.icon-size {
  position: relative;
  font-size: 1.5rem;
}

.icon-badge {
  position: absolute;
  top: -0.5rem;
  right: -0.9rem;
  font-size: 0.9rem;
  border-radius: 2rem;
  @include media-breakpoint-down(sm) {
    font-size: 0.8rem;
  }
}

.header-dropdown {
  position: relative;
  // 取消點擊後的全選
  user-select: none;
  &-cart-menu {
    position: absolute;
    // 將 dropdown 固定在左方
    right: 0;
    left: auto;
    margin-top: 0.3rem;
    z-index: 4;
    box-shadow: 0rem 0rem 0.625rem 0.1875rem $gray-300;
    background-color: #fff;
  }

  &-search-menu {
    width: 100%;
    position: absolute;
    // 將 dropdown 固定在左方
    right: 0;
    left: auto;
    z-index: 4;
    box-shadow: 0rem 0.1875rem 0.625rem 0.0625rem $gray-300;
    border: 0.125rem solid $gray-300;
    background-color: #fff;
    padding: 0.375rem 0.75rem;
    @include media-breakpoint-down(sm) {
      width: 90vw;
    }
    &-link {
      color: $black;
      transition: all .3s ease;
      &:hover {
        color: $primary;
      }
    }
  }
}

.cart-dropdown-item-image {
  width: 2.5rem;
  height: 2.5rem;
}

.cart-icon {
  width: 1.5625rem;
  height: 1.5625rem;
  cursor: pointer;
  color: $danger;
  border: 0.0625rem solid $danger;
  padding: 0.8rem;
  transition: all 0.3s ease;
  &:hover {
    color: $white;
    border: 0.0625rem solid $danger;
    background-color: $danger;
  }
}